 @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);




 * {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
       box-sizing: border-box;
}

body {
 
      width: 100%;
      height: 100vh;
      /*background: url(dome.mp4) no-repeat 50% 50%;*/
      /*background-size: cover;*/
      display: table;
       font-family: 'Montserrat', sans-serif;
          /* background-color: red;*/

}


/*---------------------------------------------
ICONS-------------------------------*/

 nav #icons {
  float: right;
     /* left: 35%;
      position: absolute;*/
      top: 90px;
      display: inline;
}


social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
    font-size: 30px;
}
#icons .social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;

    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook  {
    padding:10px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352979;
}
.fa-facebook:hover {
    background-color: #E19705;
}

.fa-twitter  {
    padding:10px 19px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352979;
}
.fa-twitter:hover {
    background-color: #E19705;
}

.fa-youtube  {
    padding:10px 19px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352979;
}
.fa-youtube:hover {
    background-color: #E19705;
}
.fa-instagram  {
    padding:10px 19px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #352979;
}
.fa-instagram:hover {
    background-color: #E19705;
}









/*--------------
JAVA SCRIPT---------------*/

.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
  
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loading.gif) center no-repeat #fff;
  background-color: #D8143C;
}







/*NAVIGATION*/


nav {
      width: 100%;
      background: #D8143C;
      height: 170px;
      position: fixed;
      z-index: 100;

}

nav #brand {
      float: left;
      display: block;
      margin-left: 84px;
      font-size: 30px;
      line-height: 70px;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
}


#brand img{

  height:13%; 
  width:13%;
  float: left;
}



nav #menu {
      float: left;
      left: 35%;
      position: absolute;
      top: 90px;
}

nav #menu li {
      display: inline-block;
      padding: 0px 30px;
      cursor: pointer;
      line-height: 70px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li a {
      color: #fff;
     font-family: 'Montserrat', sans-serif;
      font-weight: 200;
       padding: 20px;
}

nav #menu li a:hover {
    background-color:#E19705;
   



}




#toggle {
      position: absolute;
      right: 20px;
      top: 14px;
      z-index: 999;
      width: 40px;
      height: 40px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

#toggle .span {
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 5px auto;
}

#toggle.on #one {
      transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
      opacity: 0;
}

#toggle.on #three {
      transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
      z-index: 1;
      top: 0px;
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
      display: table;
}

#resize #menu {
      height: 90px;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 20px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top:140px;
}

#resize #menu li a {
      color: #fff;
}

#resize.active {
      visibility: visible;
      opacity: 0.99;
}


/*VIDEO*/




#myVideo {
   /* position: fixed;*/
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



/*PARAGRAPH AND BUTTON*/




 .content h1 {
      color: #fff;
     font-family: 'Montserrat', sans-serif;
      /*font-weight: 200;*/
      font-size: 40px;
      margin-bottom: 15px;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}



/*BUTTON*/




#myBtn {
    width: 200px;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #D8143C;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #E19705;
    color: white;
}



/*MEDIA QUERYS*/




@media(max-width: 960px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
      }

      nav #brand {
            margin-left: 18px;
      }

      #menu a {
           font-family: 'Montserrat', sans-serif;
            font-weight: 200;
            font-size: 20px;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 960px) {
      #resize {
            visibility: hidden !important;
      }
}
